@charset "UTF-8";

 body{  background-image: url("cool-background.svg");

    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
        }
               /* 导航栏样式 */
  .user {
  display: flex;
  align-items: center;
}

.user img {
  margin-left: 10px;
  box-shadow: 1px 1px 10px skyblue;
border-radius: 50px;
  max-height: 50px;
  margin-right: 1rem;
}
    .nav1 {
      background-color: white;
      color: #fff;
      padding: 10px;
      font-size: 20px;
      display: flex;
      width: 100%;
      box-shadow: 1px 1px 10px #eee;
      justify-content: space-between;
      align-items: center;
    }

   .nav1 h1 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .nav1 ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }

    .nav1 li {
      margin-right: 30px;
    }

    .nav1 a {
        color:black;
  text-decoration: none;
    }
    .nav1 a:hover{
  color: white;
  text-shadow: 1px 1px 5px darkblue;
}

    .box{
    width: 85%;
      background-color: rgba(255, 255, 255, 1);
     box-shadow: 2px 3px 10px rgba(0, 0, 0, .6);
     margin-left: 8%;
     height: 100vh;
     margin-right: 8%;
    }
    .navbar {
      background-color: rgba(0, 0, 0, .38);
      overflow: hidden;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, .6);
    }
    .navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}


/* 病症目录样式 */
.disease {
  margin: 30px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}
   

.disease-item {
  margin: 10px;
  width: 220px;
  height: 230px;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
   object-fit: cover;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  border: 3px solid grey;
}

.disease-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.disease-severity {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.disease-severity.severe {
  color: red;
}

.disease-severity.moderate {
  color: orange;
}

.disease-severity.mild {
  color: green;
}

nav {
      background-color: rgba(255, 255, 255, .7);
  color: rgba(70, 70, 90, 1);
  font-size: 22px;
}

nav ul {
    list-style: none;
  margin-left: 10px;
  padding: 0;
  justify-content: space-between;
}

nav ul li {
  position: relative;
  align-items: center;
  margin-left: 30px;
  margin: 10px;

  }
  nav span{
    margin: 10px;
    display: block;
    background-color: rgba(0, 0, 0, .13);
  }


nav ul li .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul li .tags a {
  margin-right: 0.5rem;
  margin: 30px;
  font-size: 18px;
    color: black;
  text-decoration: none;
    text-shadow: none;
}
nav ul li .tags a:hover{
  color:blue;

}


